/* universal styles*/

* {
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}

html {
    background-color: black;
    margin: 0;
}

main {
    position: relative;
    top: 63px;
}

a,
p,
h5 {
  font-size: 22px;
}

h2, h3, h4, h5 {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 29px;
}

h4 {
  font-size: 25px;
}

/* header */
header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid seashell;
  height: 69px;
  z-index: 1;
  align-items: center;
  width: 100%;
  background-color: black;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 10px;
  height: 50px;
}

nav {
  float: right;
  padding-left: 50px;
  padding-right: 10px;
  flex-shrink: 0;
}

nav a {
  padding: 20px 10px;
}

/* top section */
.top-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: auto;
}

.top-content {
  background-color: black;
}

/* products */
.product-section {
  padding: 70px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.item h5 {
  padding-top: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 1000px;
}

/* locations */
.location-img {
    background-image: url(../images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin: auto;
}

.location-title {
  background-color: transparent;
  padding-top: 70px;
}

.location {
    width: 300px;
    background-color: black;
    margin: 40px;
    opacity: 1;
    padding: 20px 0;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* footer */
.copyright {
  float: left;
  padding: 20px;
}
